html {
	color: #666;
	background: white;
	font: 100%/1.5 georgia, serif;
}
body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
}
article {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-image: url(/layout-studies/images/kbtr-640.jpg);
	background-position: 50%;
}

@media (min-aspect-ratio: 4/3) {
	article {
		background-size: 100% auto;
	}
}
@media (max-aspect-ratio: 4/3) {
	article {
		background-size: auto 100%;
	}
}

p {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}