html {
	color: #666;
	background: white;
	font: 100%/1.5 georgia, serif;
}
body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
}
img {
	width: 100vw;
	height: 100vh;
}
p {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}