html {
	color: #666;
	background: white;
	font: 100%/1.5 georgia, serif;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}
p {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.blokk span {
	background: #666;
	opacity: .7;
}