html {
	color: #666;
	background: white;
	font: 100%/1.5 georgia, serif;
	height: 100vh;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
}
p {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.blokk span {
	background: #666;
	opacity: .7;
}
body {
	width: 98vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
article {
	padding: 2em;
	height: 100vh;
	box-sizing: border-box;
	column-width: 18em;
	column-gap: 2em;
}